/* KEEPS FOOTER AT BOTTOM OF PAGE */

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.homepage-mission-logo {
  width: 100px;
}

.homepage-jumbotron {
  background-color: white;
  /* background-image: url(../assets/images/homepage-background.jpg); */
  /* background-size: cover; */
}

.homepage-title {
  font-size: 5rem;
  /* color: rgb(51, 51, 51); */
  color: #00bfff;
  text-shadow: 1px 1px 0px rgb(65, 65, 65);
  line-height: 120%;
}

.homepage-subtitle {
  font-size: 2em;
  color: rgb(68, 68, 68);
  line-height: 110%;
}

.homepage-hero-text {
  font-size: 1.25rem;
}

.homepage-contact-form {
  background-image: url(../assets/images/sea.svg);
  background-size: cover;
}

.homepage-contact-form-title {
  color: #00bfff;
  font-size: 2.25rem;
  line-height: 110%;
}

.homepage-contact-form-subtitle {
  color: black;
}

.homepage-blue-text {
  color: #00bfff;
}

.btn-blue {
  background-color: #00bfff;
  color: white;
}

.btn-blue:hover {
  background-color: #01a2d8;
  color: white;
}