/* KEEPS FOOTER AT BOTTOM OF PAGE */

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.homepage-mission-logo {
  width: 100px;
}

.homepage-jumbotron {
  background-color: white;
  background-image: url(../assets/images/sea-mobile.svg);
  background-size: cover;
}

.homepage-title {
  font-size: 5rem;
  color: #00bfff;
  line-height: 120%;
  background: -webkit-linear-gradient(#6edbff, #0099ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-copyright {
  font-size: 2rem;
}

.homepage-subtitle {
  font-size: 2em;
  color: rgb(68, 68, 68);
  line-height: 110%;
}

.homepage-hero-text {
  font-size: 1.25rem;
}

.homepage-contact-form-title {
  color: black;
  font-size: 2.25rem;
  line-height: 110%;
}

.homepage-contact-form-subtitle {
  color: black;
}

.homepage-blue-text {
  color: #00bfff;
}

.btn-blue {
  background-color: #00bfff;
  color: white;
}

.btn-blue:hover {
  background-color: #01a2d8;
  color: white;
}

/* CONTACT PAGE */

.contact-page-form,
.join-page-form {
  background-image: url(../assets/images/sea-xl.svg);
  background-size: cover;
}

/* MEDIA QUERIES */

/* Extra small */

@media (min-width: 400px) {}

/* Small devices */

@media (min-width: 576px) {}

/* Medium devices */

@media (min-width: 768px) {
  .homepage-jumbotron {
    background-image: url(../assets/images/sea.svg);
  }
}

/* Large devices */

@media (min-width: 992px) {}

/* Extra large */

@media (min-width: 1200px) {
  .homepage-jumbotron {
    background-image: url(../assets/images/sea-xl.svg);
  }
}

/* Super large */

@media (min-width: 1500px) {}